
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dive Deep</title>

    <!-- Bootstrap Theme CSS -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <!-- evt css-filer -->
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Hjem</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produkter
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Products" asp-action="Index" asp-route-category="bcd" >BCD</a></li>
                            <li><a class="dropdown-item" asp-controller="products" asp-action="Index" asp-route-category="divingsuit">Dykkerdragter</a></li>
                            <li><a class="dropdown-item" asp-controller="products" asp-action="Index" asp-route-category="tank">Tanke</a></li>
                            <li><a class="dropdown-item" asp-controller="products" asp-action="Index" asp-route-category="regulatorset">Regulatorsæt</a></li>
                            <li><a class="dropdown-item" asp-controller="products" asp-action="Index" asp-route-category="masksnorkel">Maske/Snorkel</a></li>
                            <li><a class="dropdown-item" asp-controller="products" asp-action="Index" asp-route-category="finns">Finner</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            @RenderSection("title", false)
        </div>
        <div>
                @RenderBody()          
        </div>
    </main>

    <!-- Bootstrap Theme JS -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- evt. flere js-filer -->
</body>
</html>
