
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dive Deep</title>

    <!-- Bootstrap Theme CSS -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <!-- evt css-filer -->
</head>
<body id="page-top">
    @RenderBody()

    <!-- Bootstrap Theme JS -->
    <script src="~/js/scripts.js"></script>
    <!-- evt. flere js-filer -->
</body>
</html>
